.alert-box {
  display: none;
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.list-group {
  display: none;
}
.list-group.show {
  display: block;
}

.form-hide {
  display: none;
}