.alert-box {
  display: none;
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.list-group {
  display: none;
}
.list-group.show {
  display: block;
}

.form-hide {
  display: none;
}

.card-background {
  height: 3000px;
  margin-top: 800px;
  margin-bottom: 1600px;
}

.card-box img {
  display: block;
  margin: auto;
  max-width: 80%;
}
.card-box {
  position: sticky;
  top: 400px;
  margin-top: 200px;
  /* transition : all 0.2s */
}
